<p id="notice"><%= notice %></p>

<h1>Books</h1>
<div class="table-responsive">
  <table id="book"  class="table table-striped">
    <thead>
      <tr>
        <th scope="col" colspan="2"></th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Active</th>
        <th scope="col" colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td  colspan="2">
            <figure class="figure">
              <img src=<%= "#{book.images.last ? book.images.last.thumb.url : '/book-default.jpg' }" %> class="figure-img img-fluid rounded">
            </figure>
          </td>
          <td><%= book.title %></td>
          <td><%= book.description %></td>
          <td><%= book.active %></td>
          <td><%= link_to 'Show', book %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    <%= paginate @books %>
    </tfoot>
  </table>
</div>
<nav>

</nav><ul class="pagination">
  <%= paginate @books %>
</ul>
<br>
<script type="text/javascript">
	$(document).ready(function() {
    $('#book').DataTable();
	});
</script>

